@import "tailwindcss";

@theme {
  --color-teal: #1d6b52;
  --color-teal-dark: #144d3c;
  --color-gold: #c9a449;
  --color-offwhite: #f8f6f2;
  --color-ink: #111111;
  --color-muted: #6b7280;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #1d6b52;
}
